
NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18 ;
NET "btn[0]" LOC = W14 | IOSTANDARD = LVCMOS18; NET "btn[0]" clock_dedicated_route = false; NET "btn[1]" LOC = V14 | IOSTANDARD = LVCMOS18; NET "btn[1]" clock_dedicated_route = false; 
NET "BTNX4" LOC = W16  | IOSTANDARD = LVCMOS18; //btn row LE

NET"SW1[0]" LOC = AF10 | IOSTANDARD = LVCMOS15; //CreateNum mode switch num A
NET"SW1[1]" LOC = AF13 | IOSTANDARD = LVCMOS15; //CreateNum mode switch num B

NET"SW2[0]" LOC = AE13 | IOSTANDARD = LVCMOS15; //ALU mode switch
NET"SW2[1]" LOC = AF8 | IOSTANDARD = LVCMOS15; //ALU mode switch
NET "AN[0]" LOC = AD21 | IOSTANDARD = LVCMOS33 ;NET "AN[1]" LOC = AC21 | IOSTANDARD = LVCMOS33 ;NET "AN[2]" LOC = AB21 | IOSTANDARD = LVCMOS33 ;NET "AN[3]" LOC = AC22 | IOSTANDARD = LVCMOS33 ;

NET "SEGMENT[0]"	LOC = AB22  | IOSTANDARD = LVCMOS33 ;#a
NET "SEGMENT[1]" 	LOC = AD24	| IOSTANDARD = LVCMOS33 ;#b
NET "SEGMENT[2]" 	LOC = AD23	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[3]" 	LOC = Y21	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[4]" 	LOC = W20	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[5]" 	LOC = AC24	| IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[6]" 	LOC = AC23	| IOSTANDARD = LVCMOS33 ;#g
NET "SEGMENT[7]" 	LOC = AA22	| IOSTANDARD = LVCMOS33 ;#point
